{{ margin|json_script:"margin" }}
<script>
    let margin = JSON.parse(document.getElementById('margin').textContent);

    $(window).on('load', function() {
        function gridMasonry() {
            var grid = $(".masonry-grid")
            if (grid.length) {
                grid.isotope({
                    itemSelector: ".masonry-grid-item",
                    layoutMode: "masonry",
                    masonry: {
                        columnWidth: ".masonry-grid-sizer",
                        gutter: margin,
                    },
                });
            }
        }
        gridMasonry();
        window.dispatchEvent(new Event('resize'));
    });

{% if mode == 'showcase' %}
    $('[data-fancybox]').fancybox({
        animationDuration : 325,
        animationEffect   : 'slide-in-out',
    });
{% endif %}
</script>