{% extends 'gallery/base.html' %}

{% block static_CSS %}
    {% include 'gallery/partials/imports/import-static-css.html' %}
{% endblock %}

{% block navigation %}
    {% include 'gallery/partials/nav-bar.html' %}
{% endblock %}

{% block menu %}
    {% include 'gallery/partials/menu.html' %}
{% endblock %}

<! -- main -->
{% block content %}
    <div class="container" id="macy-container">
        {% if section_list %}
            {% for section in section_list %}
                <div class="border border-light shadow card bg-primary bg-1">
                    <div class="text-black rounded text-center p-3 mt-4">
                        <a class="" href="{% url 'showcase' section.slug %}">
                            <h3 class="p-0 mb-0">{{ section.title_custom_split.0 }}</h3>
                            <span class="text-gray m-1">{{ section.title_custom_split.1 }}</span>
                        </a>
                    </div>

                    <div class="row mr-4 ml-4 p-1 mb-3">
                        {% for pin in section.pin_set.all|slice:":2" %}
                            <div class="col-6">

                            <a data-fancybox="collection"
                               data-options='{"caption":"<a href=\"{% url 'showcase' section.slug %}\">{{ section.title }}</a>",
                               "src":"{{ pin.image_url }}",
                               "link":"{% url 'showcase' section.slug %}", "clickContent" : false, "idleTime": false}'>
                                <img src="{{ pin.small_image_url }}" alt="" class="shadow-lg rounded d-block">
                            </a>
                            </div>
                        {% endfor %}
                    </div>

                <div class="post-meta border border-light rounded bg-2 p-2 m-2">
                    <div class="row">
                        <div class="col-3">
                            <span class="badge badge-lg shadow-inset">
                                <b class="">
                                    <span aria-hidden="true" class="far fa-heart "></span>
                                     {{ section.pin_set.all|length }}</b>
                            </span>
                        </div>
                        <div class="col-9 text-right">
                            <button class="btn btn-sm btn-icon-only btn-primary btn-pill text-danger mr-2 bg-1" type="button">
                                <span aria-hidden="true" class="far fa-heart"></span>
                            </button>
                            <button class="btn btn-sm btn-icon-only btn-primary btn-pill text-gray bg-2" type="button">
                                <span aria-hidden="true" class="far fa-heart"></span>
                            </button>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block static_JS %}
    {% include './partials/imports/import-static-js.html' %}
{% endblock %}

{% block page_scripts %}
    {% include './partials/scripts/script_init_grid.html' with margin=18 columns=4 b1280=3 b920=2 b720=2 only %}
    {% include './partials/scripts/script_lightbox_image_link.html' %}
{% endblock %}

