.masonry-grid {
}

.container {
}

.masonry-grid-item img {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

.masonry-grid-sizer {

}

.item {
	width: 100% ;
	margin: 0;
	padding: 0;
}

.masonry-grid-item {
	padding-bottom: 18px;
	padding-left: 9px;
	padding-right: 9px;
	margin: 0;
}
@media handheld,
only screen and (max-width:720px) {
	.masonry-grid-item {
		padding-bottom: 18px;
	}
.container {
	max-width: 70%;
}
}