.masonry-grid-item img {
	box-sizing: border-box;
	width: 100%;
}

.masonry-grid {
    margin: 0 auto;
    max-width: 80%;
}

@media handheld,
only screen and (min-width:1200px) {
	.masonry-grid-sizer {
		width: calc(25% - 14px);
	}
	.masonry-grid-item {
		width: calc(25% - 14px);
		margin-bottom: 18px;
	}
}

@media handheld,
only screen and (max-width:1200px) {
	.masonry-grid-sizer {
		width: calc(33.3333% - 13px);
	}
	.masonry-grid-item {
		width: calc(33.3333% - 13px);
		margin-bottom: 18px;
	}
}

@media handheld,
only screen and (max-width:1020px) {
	.masonry-grid {
		max-width: 70%;
	}
	.masonry-grid-sizer {
		width: calc(50% - 9px);
	}
	.masonry-grid-item {
		width: calc(50% - 9px);
		margin-bottom: 18px;
	}
}

@media handheld,
only screen and (max-width:720px) {
	.masonry-grid {
		max-width: 70%;
	}
	.masonry-grid-sizer {
		width: 100%
	}
	.masonry-grid-item {
		width: 100%;
		margin-bottom: 18px;
	}
}